body{
    background-color: silver;
}
img. {
    width: 400px;
}

h1 {
    background: #FFCD43FF;
}

h2 {
    background: #FFCD43FF;
}

p {
    background-color: #FFCD43FF;
    color: brown;
}

li {
    background-color: #032c81;
    color: #FFCD43FF;
}

